@model MeusPedidos.Models.QuestionnaireModels
@{
    ViewBag.Title = "Questionário";
}

@using (Html.BeginForm("Send", "Questionnaire", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="jumbotron text-center">
        <h1>Questionário</h1>
        <p class="lead">
            Vamos realizar uma avaliação de candidatos para a vaga de desenvolvedor.
            Por vafor preencha nosso questionario para participar, obrigado!
        </p>
    </div>
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <h4>Dados do candidato <strong>(Campos obrigatórios)</strong></h4>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <hr />
            <h4>Avalie seu conhecimento de 0 a 10 nos seguintes itens <strong>(Campos opcionais):</strong></h4>
            <div class="form-group">
                @Html.LabelFor(m => m.Html, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Html, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Css, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Css, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.JavaScript, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.JavaScript, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Python, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Python, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Django, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Django, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DesIOS, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DesIOS, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DesAndroid, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.DesAndroid, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" class="btn btn-large btn-info" value="Enviar" id="button" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/validation.js")
}
